module.exports = {
  prefix: '!',
  test_prefix: '_',
  db_url: 'mongodb://localhost:27017/ctr_hub',
  owner: 'OWNER_DISCORD_ID',
  main_guild: 'MAIN_GUILD_ID',
  test_guild: 'TEST_GUILD_ID',
  token: 'YOUR_MAIN_TOKEN_HERE',
  test_token: 'TEST_TOKEN_HERE',
  log_channel_name: 'tourney-bot-log',
  welcome_message: `**Welcome to the SERVER_NAME**
In this server...`,
  ranked_welcome: `Welcome to the Ranked Lobbies!
...`,
  ranked_verification_dm: `Your account has been verified. Enjoy ranked lobbies!`,
  wc_signup_message: 'Thank you for signing up for the World Cup!',
  draft_tool_url: 'DRAFT_TOOL_URL_HERE'
};
